import java.util.*;

import javax.swing.JApplet;
import javax.swing.JFrame;

public class HangMan extends JApplet{
  final int NUM_OF_GUESSES = 5;
	/**
	 * @param args
	 */
	public void init (){
		JFrame f = new JFrame();
		f.setDefaultCloseOperation(JFrame.EXIT_ON_CLOSE);	
		int j = 0;
		
		for(j = 0; j <= NUM_OF_GUESSES;j++){
		guess();
		System.out.println("" + j);
		}
		
		if(j == 6){
			System.out.println("You've been hung!");
		}
		
		else{
			System.out.println("You won!");
		}
		
		
	}
		/** 
		 * 
		 * guesses
		 */
		public String guess(){
			String guess = null;
			// let the user guess
				Scanner scanner = new Scanner(System.in);
				System.out.println("Enter a letter");
				guess = scanner.nextLine();	
			return guess;	
		}
}
